/* Services header */

.services-content {
    width: 90%;
}

.services-header {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.services-title {
    font-family: var(--font-titles);
    font-size: var(--size-titles);
}

.services-description {
    margin: 1.5rem 0;
    text-align: center;
    font-family: var(--font-text);
    font-size: var(--size-text);
}

/* Services Items */

.services-items {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
}

/* Cards */

.services-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
    transition: 0.3s ease;
}

.services-card:hover {
    transform: translateY(-15px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
}

.services-card-title {
    text-align: center;
    font-family: var(--font-subtitles);
    font-size: 1.2rem;
}

.services-card-text {
    text-align: center;
    font-family: var(--font-text);
    font-size: var(--size-text);
    margin: 1rem 0;
}

/* Responsive Design */
@media (max-width: 1080px) {
    .services-items {
        flex-direction: column;
    }
}