/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables CSS */
:root {
    --main-color: #2aecbb;
    --main-color-hover: #9df3dd;
    --secondary-color: #ffffff;

    --text-color: #000; /* #202427 */

    --font-titles: "Montserrat", sans-serif;
    --font-subtitles: "Montserrat", sans-serif;
    --font-text: "Montserrat", sans-serif;

    --size-titles: 2.5rem;
    --size-subtitles: 1.1rem;
    --size-text: 0.9rem;

    --inner-margin: 3rem;
    --card-radius: 25px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    z-index: -1;
    background-size: 70px 70px;
    background-image:
        linear-gradient(to right, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    animation: gridMove 10s linear infinite;
}

@keyframes gridMove {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 40px 40px;
    }
}

[class$="-container"] {
    min-height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

[class$="-content"] {
    height: 100%;
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

[class$="-button"] {
    padding: 1rem 1.7rem;
    width: 230px;
    display: inline-block;

    color: var(--text-color);
    /* Mejor contraste sobre fondo */
    background-color: var(--main-color);
    border: none;
    border-radius: 0.75rem;

    font-family: var(--font-text);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.03em;

    transition: all 0.3s ease;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

[class$="-button"]:hover {
    background-color: var(--main-color-hover);
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

[class$="-button-link"] {
    color: var(--text-color);
    text-decoration: none;
}